<!DOCTYPE html>
<html>
  <head>
    <title> ABOUT PAGE </title>
  <head>
<body>

  <h1>ABOUT PAGE</h1>

  <p>This is a paragraph.</br>
  It has more than one line. </br>
The lines are seperated by the "break" tag</p>

<%= link_to 'home', pages_home_path %>
  
</body>
</html>