<!DOCTYPE html>
<html>
  <head>
    <title> HOME PAGE </title>
  <head>
<body>

  <h1>HOME PAGE</h1>

  <p>This is a paragraph.</br>
  It has more than one line. </br>
The lines are seperated by the "break" tag</p>

<%= link_to 'about', pages_about_path %>
<%= link_to image_tag('Trial_Image'),'https://www.google.co.za/imgres?imgurl=https%3A%2F%2Fgeology.com%2Fgemstones%2Fruby-and-sapphire%2Fsynthetic-star-ruby.jpg&imgrefurl=https%3A%2F%2Fgeology.com%2Fgemstones%2Fruby-and-sapphire%2F&docid=JKVkM58y0NgOfM&tbnid=vsV8NczKdQJ6OM%3A&vet=10ahUKEwjQ29OY2rbYAhXjCsAKHZf0CI8QMwj3ASgoMCg..i&w=380&h=280&bih=863&biw=1744&q=ruby%20pictures&ved=0ahUKEwjQ29OY2rbYAhXjCsAKHZf0CI8QMwj3ASgoMCg&iact=mrc&uact=8' %>
</body>
</html>